<div class="auth-page">
    <img src="../../../../../assets/images/logo-bold.png" alt="logo">
    <div class="text-center">
    <img src="../../../../../assets/images/icons/verify-happy.svg" class="verify-happy" alt="verify-happy">
    <h1>Verify your Email</h1>

    </div>
    <p class="sub-text">Thank you, check your email for instructions to reset your password</p>
    <div class="login-form">
        <form>
            <a routerLink="/" class="btn btn-primary w-100 text-center">
                Skip Now
            </a>
        </form>
        <p class="text-center">Don't receive an email? <a routerLink="/register">Resend</a></p>
    </div>
</div>