<div class="text-contain" #textEl [ngClass]="{'shake': showValidation && !control.valid}">
    <div class="text-element" class="{{ showValidation && !control.valid? 'danger' : validationClass}}">
        <ng-content></ng-content>
        <input #inputEl
        [type]="type" 
        [placeholder]="placeholder"  
        [(ngModel)]="value"
        (ngModelChange)="inputChanged()"
        />
        <span *ngIf="type == 'password'" class="material-symbols-outlined" (click)="showPassword($event)">{{visibility}}</span>
        <span *ngIf="type != 'password' && (value != undefined && value.length > 0)" class="material-symbols-outlined clear-input" (click)="clearInput()">cancel</span>
       
    </div>
    <p *ngIf="showValidation && !control.valid" class="text-danger">{{control.getValidationMessages().join(",")}}</p>     
</div>