<div class="transaction-page">
    <div class="page-actions">
        <div>
            <text-input placeholder="search" class="w-10x"></text-input>
        </div>
        <div class="filters">
            <span>
                <span class="material-symbols-outlined"> filter_alt </span>
                Filter
            </span>
            <div class="" dropdown>
                <span class="material-symbols-outlined">sort</span>&nbsp;
                Sort: Date Created
                <div class="dropdown-menu" tabindex="-1">
                    <div>Latest</div>
                    <div>Alphabetical A-Z</div>
                    <div>Alphabetical Z-A</div>
                    <div>Completed</div>
                    <div>Active</div>
                    <div>Date Created</div>
                </div>
            </div>
        </div>
    </div>
    <div class="page" >
        <div class="row">
            <card class="w-100 h-100">
                <table>
                    <thead>
                        <tr>
                            <th><checkbox class="mt-0 mb-0" (change)="checkAll($event)"></checkbox></th>
                            <th>Username</th>
                            <th>Action</th>
                            <th>IP</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th><span class="material-symbols-outlined"> more_horiz</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let log of logs">
                            <td><checkbox class="mt-0 mb-0" [(ngModel)]="log.selected"></checkbox></td>
                            <td>{{log.username}}</td>
                            <td><span [squareBadge]="getStatusClass(log.action)">{{log.action}}</span></td>
                            <td>{{log.ip}}</td>
                            <td>{{log.description}}</td>
                            <td class="dt-col">{{log.date | date: 'dd MMM yyyy HH:mm'}}</td>
                            <td>
                                <div class="relative inline-block" dropdown>
                                    <span class="material-symbols-outlined f22 ml-10">more_horiz</span>
                                    <div class="dropdown-menu" tabindex="-1">
                                        <div>View</div>
                                        <div>Report</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr colspan="">
                            <th colspan="3">
                                <div>
                                    Show rows:
                                </div>
                            </th>
                            <th colspan="5">
                                <div class="pagination">
                                    <ul>
                                        <li><a href=""><span class="material-symbols-outlined">chevron_backward</span></a></li>
                                        <li><a href="">1</a></li>
                                        <li><a href="">2</a></li>
                                        <li><a href="">3</a></li>
                                        <li><a href="">...</a></li>
                                        <li><a href=""><span class="material-symbols-outlined">chevron_right</span></a></li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </card>
       </div>
    </div>
   
</div>
