.dip-tasks .dip-3{
    width: 32%;
}

.pl-neutral{
    border-radius: 12px;
    background-color: var(--grey-scale-50);
    padding: 10px;
}

.pl-head p{
    font-family: "Roboto-Bold";
    color: var(--grey-scale-900);
}

.pl-head span{
    font-size: 22px;
    color: var(--grey-scale-500);
    font-family: "MaterialSymbols";
}

.pl-flask p{
    margin: 0;
    font-size: 12px;
    color: var(--grey-scale-500);
}

.pl-flask span{
    font-size: 12px;
    font-family: "Roboto-Bold";
    color: var(--grey-scale-900);
}

.pl-flask span.material-symbols-outlined{
    font-size: 18px;
    color: var(--grey-scale-500);
    font-family: "MaterialSymbols";
    vertical-align: middle;
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-background);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
}

.task-item span[badge]{
    position: relative;
    top: 0;
}

.summaries{
    display: flex;
    column-gap: 10px;
}

.summaries .item-summary{
    width: 32%;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
}

.summaries .item-summary .circle{
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
    border: 1px solid var(--border-color);
}

.summaries span{
    color: #FFFFFF;
}

.summaries p{
    color: #FFFFFF;
    margin-top: 10px;
    font-family: 'Roboto-Bold';
}

.completion-rate{
    width: 100px;
}

.completion-rate p{
    font-size: 28px;
    display: inline-block;
}

.completion-rate span{
    font-size: 12px;
    margin-left: 10px;
}

.quick-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px 10px;
    border-top: 1px solid var(--border-color);
    border-radius: 12px;
    cursor: pointer;
}

.quick-message:hover{
   background-color: var(--grey-scale-50);
}

.quick-message > div{
    display: flex;
    align-items: center;
}

.quick-message img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

@media only screen and (max-width: 1440px) {
    .dip-tasks .dip-3{
        width: 32%;
    }
}

/*********************************************************************/
/***************************Small Laptops*****************************/
/*********************************************************************/

@media only screen and (max-width: 1280px) {
    .dip-tasks .dip-3{
        width: 31.7%;
    }
}

@media only screen and (max-width: 1199.98px) {
   
}

@media only screen and (max-width: 1080px) {
    .dip-tasks .dip-3{
        width: 31%;
    }
}

@media only screen and (max-width: 575.98px) and (orientation:portrait) {
    .dip-tasks .dip-3{
        width: 100%;
    }
}