<dialog-box size="sm">
    <div class="task-dialog">
        <div class="header">
            <div class="crumb">
                <span>User Management</span> > <span>Search User</span>
            </div>
            <div class="actions">
                <span class="material-symbols-outlined">link</span>
                <span class="material-symbols-outlined"> more_horiz</span>
                <span class="material-symbols-outlined" (click)="closeDialog()"> close </span>
            </div>
        </div>
        <div class="dialog-body">
            <div class="automated">
                <h3>Advanced User Search</h3>
                <div class="review-drop">
                    In Review
                    <span class="material-symbols-outlined">keyboard_arrow_down</span>
                </div>
            </div>
            <form action="">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 pr-10">
                        <label for="username">Search Keyword</label>
                        <text-input></text-input>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 pl-10">
                        <label for="match">Match type</label>
                        <select-input [options]="matchType"></select-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 pr-10">
                        <label for="match">Status</label>
                        <select-input [options]="userStatus" class="mt-0"></select-input>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 pl-10">
                        <label for="match">Predicate</label>
                        <select-input [options]="predicates" class="mt-0"></select-input>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 pr-10">
                        <label for="username">Start Date</label>
                        <input type="date">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 pr-10">
                        <label for="username">EndDate</label>
                        <input type="date">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <label for="match">Predicate</label>
                        <select-input [options]="predicates.slice(1)" class="mt-0"></select-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 pr-10">
                        <button type="button" class="btn btn-default w-100" (click)="closeDialog()">Cancel</button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 pl-10">
                        <button type="submit" class="btn btn-primary w-100" (click)="next()">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</dialog-box>