
.action-tag{
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
}

.action-tag label{
    display: inline-block;
    background-color: var(--default);
    padding: 10px;
    font-family: "Roboto-Bold";
    color: var(--grey-scale-900);
    margin-right: 10px;
}

.action-tag p, .action-tag p{
    display: inline;
    margin: 0;
}

.props-collection{
    margin-bottom: 10px;
}

.props-collection label{
    font-family: "Roboto-Bold";
    color: var(--grey-scale-900);
}

.props-collection .states{
    border-radius: 25px;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3px 0;
    background-color: var(--grey-scale-200);
}

.props-collection .states p{
    border-radius: 20px;
    padding: 10px;
    margin: 0;
    display: inline-block;
}

.props-collection .states p span{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    margin-left: 10px;
    color: #FFF;
}

.props-collection .states .new{
    color: #FFF;
    background-color: var(--success);
}

.props-collection .states .no-change{
    background-color: var(--info);
}

textarea{
    min-height: 200px;
}