<div class="nav-top">
    <div class="nav-left">
        <h1>Dashboard</h1>
    </div>
    <div class="nav-right">
        <text-group [showValidation]="false" class="mt-0 mb-0">
            <span class="material-symbols-outlined">search </span>
        </text-group>
        <span class="material-symbols-outlined notification">notifications</span>
        <div class="action-group">
            <div class="usr-group">
                <img src="../../../assets/images/users/user-1.png" alt="user">
                <div class="">
                    <p>Tavershima</p>
                    <span>Project Manager</span>
                </div>
                <div class="relative" dropdown>
                    <span class="material-symbols-outlined">keyboard_arrow_down</span>
                    <div class="dropdown-menu" tabindex="-1">
                        <div>
                            <span class="material-symbols-outlined ml-0 mr-10 middle">person</span>
                            Profile
                        </div>
                        <div>
                            <span class="material-symbols-outlined ml-0 mr-10 middle">settings</span>
                            Settings
                        </div>
                        <div>
                            <span class="material-symbols-outlined ml-0 mr-10 middle">power_settings_new</span>
                            Logout
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>