<div class="nav-top">
    <div class="nav-left">
        <span class="material-symbols-outlined more-menu" (click)="toggleSidebar()"> menu</span>
        <h1>{{pageTitle.title}}</h1>
        <p class="m-0">{{pageTitle.description}}</p>
    </div>
    <div class="nav-right">
        <text-group [showValidation]="false" class="mt-0 mb-0 w-200p">
            <span class="material-symbols-outlined">search </span>
        </text-group>
        <span class="material-symbols-outlined notification">notifications</span>
        <div class="action-group relative" dropdown>
            <div class="usr-group">
                <div>
                    <img src="../../../assets/images/users/user-1.png" alt="user">
                    <profile-dropdown></profile-dropdown>
                </div>
                
                <div class="hide-mb">
                    <p>Tavershima</p>
                    <span>Project Manager</span>
                </div>
                <div class="hide-mb relative">
                    <span class="material-symbols-outlined">keyboard_arrow_down</span>
                </div>
            </div> 
            <div class="dropdown-menu" tabindex="-1">
                <div>
                    <a routerLink="/dashboard/account">
                        <span class="material-symbols-outlined ml-0 mr-10 middle">person</span>
                        Profile
                    </a>
                </div>
                <div (click)="settings('settings')">
                    <span class="material-symbols-outlined ml-0 mr-10 middle">settings</span>
                    Settings
                </div>
                <div (click)="settings('logout')">
                    <span class="material-symbols-outlined ml-0 mr-10 middle">power_settings_new</span>
                    Logout
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="mb-title">
        <h1>{{pageTitle.title}}</h1>
        <p class="m-0">{{pageTitle.description}}</p>
    </div>
</div>