<div class="auth-layout">
    <div class="get-ads">
        <div>
            <img src="../.././../assets/images/logo.png" alt="logo">
        </div>
        <div class="ads-section">
            <div class="circular-gradient">
                <div class="inner-circular-gradient">
                    <img src="../.././../assets/images/auth-dash.png" alt="dash">
                </div>
            </div>
            <div class="display">
                <p>Customizable Multipurpose Dashboard</p>
                <p>Everything you need in an easily customizable dashboard.</p>
            </div>
        </div>
    </div>
    <div class="auth-pages">
        <router-outlet></router-outlet>
    </div>
</div>

