<div class="auth-page">
    <img src="../../../../../assets/images/logo-bold.png" alt="logo">
    <h1>Reset your password</h1>
    <p class="sub-text">Enter the email address associated with your account and we will send you a link to reset your
        password.</p>
    <div class="login-form">
        <form [formGroup]="loginForm" (submit)="submitLogin()">
            <text-group placeholder="Email" formControlName="email" [showValidation]="isSubmitting"
                [control]="loginForm.formControl('email')">
                <span class="material-symbols-outlined">mail</span>
            </text-group>

            <button type="submit" class="btn btn-primary w-100">
                Continue
            </button>
        </form>
        <p class="text-center"><a routerLink="/">Back to Sign In</a></p>
        <p class="text-center">Don't have an account? <a routerLink="/register">Sign Up</a></p>
    </div>
</div>