<div class="task-page">
    <search-utility placeholder="Search Transactions" [filterValues]="filterValues" (searchChange)="search($event)" (searchAll)="searchAll($event)">
        <div class="inline-block float-right">
            <button class="btn btn-md btn-primary mr-10" (click)="newProduct()"><span class="material-symbols-outlined middle mr-10">add</span>New Product</button>
        </div>
    </search-utility>
    <div class="page">
        <div class="row">
            <card class="w-100 h-100">
                <table>
                    <thead>
                        <tr>
                            <th><checkbox class="mt-0 mb-0" (change)="checkAll($event)"></checkbox></th>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Stock</th>
                            <th>Sales</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th><span class="material-symbols-outlined"> more_horiz</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td><checkbox class="mt-0 mb-0" [(ngModel)]="product.selected"></checkbox></td>
                            <td>{{product.name}}</td>
                            <td>{{product.brand}}</td>
                            <td>{{product.stockQuantity}}</td>
                            <td>{{product.sales}}</td>
                            <td>{{product.price}}</td>
                            <td><span [squareBadge]="getStatusClass(product.status)">{{getStatusString(product.status)}}</span></td>
                            <td><span class="material-symbols-outlined"> more_horiz</span></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr colspan="">
                            <th colspan="3">
                                <div>
                                    Show rows:
                                </div>
                            </th>
                            <th colspan="5">
                                <div class="pagination">
                                    <ul>
                                        <li><a href=""><span class="material-symbols-outlined">chevron_backward</span></a></li>
                                        <li><a href="">1</a></li>
                                        <li><a href="">2</a></li>
                                        <li><a href="">3</a></li>
                                        <li><a href="">...</a></li>
                                        <li><a href=""><span class="material-symbols-outlined">chevron_right</span></a></li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </card>
       </div>
    </div>
</div>
