.auth-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 250px;
}

.auth-page img:first-child{
    display: none;
    width: 40%;
    margin-bottom: 40px;
}

.auth-page h1{
    color: var(--grey-scale-900);
    font-size: 24px;
    font-family: "Roboto-Bold";
}

.sub-text{
    margin-top: 0;
}

.login-form p.p-notify{
    margin: -10px 0 0 0;
    font-size: 12px;
}

.notify-signup{
    margin-top: 30px;
    text-align: center;
}

.notify-signup hr{
    border: 1px solid var(--border-color);
    display: inline-block;
    width: 35%;
    margin: 0;
    vertical-align: super;
}

.social-btns{
    margin-top: 40px;
    display: flex;
    column-gap: 10px;
}

.social-btns button{
    width: 49%;
    align-content: center;
}

.social-btns button svg{
    vertical-align: sub;
    margin-right: 10px;
}

/*********************************************************************/
/***************************Small Laptops*****************************/
/*********************************************************************/
@media only screen and (min-width: 992px)and (max-width: 1199.98px) {
    /* All small laptops*/
    .auth-page{
        padding: 0 50px;
    }
}

/*********************************************************************/
/**********************Bigger screens/smart TVs***********************/
/*********************************************************************/
@media only screen and (min-width: 1200px) and (max-width: 1680px){
    .auth-page{
        padding: 0 150px;
    }
}

/*********************************************************************/
/******************************Tablets********************************/
/*********************************************************************/
@media only screen and (min-width: 576px) and (max-width: 991.98px){
    /*All tablets */
    .auth-page img:first-child{
        display: block;
    }
}

/*********************************************************************/
/******************************Tablets********************************/
/*********************************************************************/
@media only screen and (max-width: 991.98px) {
    .auth-page{
        padding: 0 200px;
    }
}

@media only screen and (min-width: 768px) {
    /*specific pablets */
    /* .auth-page{
        padding: 0 180px;
    } */
}

@media only screen and (max-width: 767.98px) {
    /*specific pablets */
    .auth-page{
        padding: 0 180px;
    }
}


/*********************************************************************/
/***************************Mobile phones*****************************/
/*********************************************************************/

@media only screen and (min-width: 360px) and (max-width: 575.98px) and (orientation:portrait) {
    /* For portrait layouts only */
    .auth-page{
        display: block;
    }

    .auth-page{
        padding: 20px;
    }

    .auth-page img:first-child{
        display: block;
    }
}
