<div class="page">
    <div class="page-actions">

    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-tb-6 col-sm-12 flex flex-col r-gap20 prx-10 prl-10 prt-10 prm-10">
            <div class="flex-between">
                <div>
                    <p class="bold b f18">Todo<span class="f18"> (03)</span></p>
                </div>
                <div>
                    <span class="material-symbols-outlined mr-10 f22 pointer">add</span>
                    <div class="relative inline-block" dropdown>
                        <span class="material-symbols-outlined f22">more_horiz</span>
                        <div class="dropdown-menu" tabindex="-1">
                            <div>Weekly</div>
                            <div>Monthly</div>
                            <div>Yearly</div>
                        </div>
                    </div>
                </div>
            </div>
            <card>
                <p class="bold mt-0 mb-10 f16">Implement Login</p>
                <span class="info"><span class="f22 info middle">&#x2022; </span>Development</span>
                <p class="mt-20">
                    Add Forgot password option when login & send email to reset password...
                </p>
                <div class="flex-between item-center mt-20 hr-top pt-10">
                    <div badge="text-color" class="bdg">
                        <span class="material-symbols-outlined f18">calendar_month</span>
                        <span>Nov 30</span>
                    </div>
                    <div>
                        <stacked-images [images]="users" size="sm"></stacked-images>
                    </div>
                </div>
            </card>
            <card>
                <p class="black b mt-0 mb-10 f16">Design Review</p>
                <span class="theme"><span class="f22 theme middle">&#x2022; </span>Design</span>
                
                <div class="flex-between item-center mt-20 hr-top pt-10">
                    <div badge="text-color" class="bdg">
                        <span class="material-symbols-outlined f18">calendar_month</span>
                        <span>Nov 30</span>
                    </div>
                    <div>
                        <stacked-images [images]="users" size="sm" [max]="1"></stacked-images>
                    </div>
                </div>
            </card>

            <card>
                <p class="bold mt-0 mb-10 f16">Release 1 MVP</p>
                <span class="success"><span class="f22 success middle">&#x2022; </span>Planning</span>
                <p class="mt-20">
                    The app should be working and could receive first users
                </p>
                <div class="flex-between item-center mt-20 hr-top pt-10">
                    <div badge="text-color" class="bdg">
                        <span class="material-symbols-outlined f18">calendar_month</span>
                        <span>Nov 30</span>
                    </div>
                    <div>
                        <stacked-images [images]="users" size="sm"></stacked-images>
                    </div>
                </div>
            </card>
        </div>
        <div class="col-lg-3 col-md-3 col-tb-6 col-sm-12 flex flex-col r-gap20 prx-10 prl-10 prm-10 plx-10 pll-10 plt-10 plm-10">
            <div class="flex-between">
                <div>
                    <p class="theme b f18">In Progress<span class="f18"> (03)</span></p>
                </div>
                <div>
                    <span class="material-symbols-outlined mr-10 f22 pointer">add</span>
                    <div class="relative inline-block" dropdown>
                        <span class="material-symbols-outlined f22">more_horiz</span>
                        <div class="dropdown-menu" tabindex="-1">
                            <div>Weekly</div>
                            <div>Monthly</div>
                            <div>Yearly</div>
                        </div>
                    </div>
                </div>
            </div>
            <card>
                <p class="bold mt-0 mb-10 f16">UI Adjustments</p>
                <span class="theme"><span class="f22 theme middle">&#x2022; </span>Design</span>
                <p class="mt-20">
                    It’s just needs to adapt the UI from what you did before
                </p>
                <div class="flex-between item-center mt-20 hr-top pt-10">
                    <div badge="danger" class="bdg">
                        <span class="material-symbols-outlined danger f18">schedule</span>
                        <span class="danger">3 days left</span>
                    </div>
                    <div>
                        <stacked-images [images]="users" size="sm" [max]="2"></stacked-images>
                    </div>
                </div>
            </card>
            <card>
                <div class="task-img">
                    <img src="../../../../../assets/images/211.png" alt="design">
                </div>
                <p class="bold mt-0 mb-10 f16">UI Adjustments</p>
                <span class="theme"><span class="f22 theme middle">&#x2022; </span>Design</span>
                <div class="flex-between item-center mt-20 hr-top pt-10">
                    <div badge="danger" class="bdg">
                        <span class="material-symbols-outlined danger f18">schedule</span>
                        <span class="danger">3 days left</span>
                    </div>
                    <div>
                        <stacked-images [images]="users" size="sm" [max]="2"></stacked-images>
                    </div>
                </div>
            </card>
        </div>
        <div class="col-lg-3 col-md-3 col-tb-6 col-sm-0 flex flex-col r-gap20 prx-10 prl-10 prt-10 prm-10 plx-10 pll-10 plm-10">
            <div class="flex-between">
                <div>
                    <p class="warning b f18">In Review<span class="f18"> (03)</span></p>
                </div>
                <div>
                    <span class="material-symbols-outlined mr-10 f22 pointer">add</span>
                    <div class="relative inline-block" dropdown>
                        <span class="material-symbols-outlined f22">more_horiz</span>
                        <div class="dropdown-menu" tabindex="-1">
                            <div>Weekly</div>
                            <div>Monthly</div>
                            <div>Yearly</div>
                        </div>
                    </div>
                </div>
            </div>
            <card>
                <div class="task-img">
                    <img src="../../../../../assets/images/210.png" alt="design">
                </div>
                <p class="bold mt-0 mb-10 f16">UI Adjustments</p>
                <span class="theme"><span class="f22 theme middle">&#x2022; </span>Design</span>
                <div class="flex-between item-center mt-20 hr-top pt-10">
                    <div badge="danger" class="bdg">
                        <span class="material-symbols-outlined danger f18">schedule</span>
                        <span class="danger">3 days left</span>
                    </div>
                    <div>
                        <stacked-images [images]="users" size="sm" [max]="2"></stacked-images>
                    </div>
                </div>
            </card>
            <card>
                <p class="bold mt-0 mb-10 f16">Automated Goals</p>
                <span class="info"><span class="f22 info middle">&#x2022; </span>Development</span>
                <p class="mt-20">
                    Analytics delivers actionable, industry-ready initiatives each time a business complete their full account...
                </p>
                <div class="flex-between item-center mt-20 hr-top pt-10">
                    <div badge="text-color" class="bdg">
                        <span class="material-symbols-outlined f18">calendar_month</span>
                        <span>3 days left</span>
                    </div>
                    <div>
                        <stacked-images [images]="users" size="sm" [max]="2"></stacked-images>
                    </div>
                </div>
            </card>
        </div>
        <div class="col-lg-3 col-md-3 col-tb-6 col-sm-0 flex flex-col r-gap20 plx-10 pll-10 plm-10 plt-10">
            <div>
                <div class="flex-between">
                    <div>
                        <p class="success b f18">Done<span class="f18"> (03)</span></p>
                    </div>
                    <div>
                        <span class="material-symbols-outlined mr-10 f22 pointer">add</span>
                        <div class="relative inline-block" dropdown>
                            <span class="material-symbols-outlined f22">more_horiz</span>
                            <div class="dropdown-menu" tabindex="-1">
                                <div>Weekly</div>
                                <div>Monthly</div>
                                <div>Yearly</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <card>
                <p class="bold mt-0 mb-10 f16">Design Landing Page</p>
                <span class="theme"><span class="f22 theme middle">&#x2022; </span>Design</span>
                <p class="mt-20">
                    Design landing page for Hiphonic pellentesque massa quam amet egesta
                </p>
                <div class="flex-between item-center mt-20 hr-top pt-10">
                    <div badge="text-color" class="bdg">
                        <span class="material-symbols-outlined f18">calendar_month</span>
                        <span>Nov 11</span>
                    </div>
                    <div>
                        <stacked-images [images]="users" size="sm" [max]="2"></stacked-images>
                    </div>
                </div>
            </card>   <card>
                <p class="bold mt-0 mb-10 f16">Competitor Analysis</p>
                <span class="theme"><span class="f22 theme middle">&#x2022; </span>Design</span>
                <p class="mt-20">
                    Analytics delivers actionable, industry-ready initiatives each time a business complete their full account...
                </p>
                <div class="flex-between item-center mt-20 hr-top pt-10">
                    <div badge="text-color" class="bdg">
                        <span class="material-symbols-outlined f18">calendar_month</span>
                        <span>Nov 11</span>
                    </div>
                    <div>
                        <stacked-images [images]="users" size="sm" [max]="2"></stacked-images>
                    </div>
                </div>
            </card>
            <card>
                <p class="bold mt-0 mb-10 f16">Setup Projects & Brief</p>
                <span class="success"><span class="f22 success middle">&#x2022; </span>Design</span>
               
                <div class="flex-between item-center mt-20 hr-top pt-10">
                    <div badge="text-color" class="bdg">
                        <span class="material-symbols-outlined f18">calendar_month</span>
                        <span>Nov 11</span>
                    </div>
                    <div>
                        <stacked-images [images]="users" size="sm" [max]="2"></stacked-images>
                    </div>
                </div>
            </card>
        </div>
    </div>
</div>