.page-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--theme-background);
    border-top: 1px solid var(--border-color);
}

.page-actions .tab-menu > div{
    display: inline-block;
    padding: 12px;
    font-family: 'Roboto-Medium';
    cursor: pointer;
}

.page-actions .tab-menu span.material-symbols-outlined{
    font-size: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

.page-actions .tab-menu > div.active{
    background-color: var(--info-light);
    color: var(--theme);
    border-radius: 12px;
}

.page-actions .tab-menu > div.active span{
    color: var(--theme);
}

.page-actions .filters > span{
    margin-right: 20px;
    font-family: 'Roboto-Medium';
}

.page-actions .filters span.material-symbols-outlined{
    font-size: 18px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.page-actions .filters > div{
    position: relative;
    display: inline-block;
    background-color: var(--info-light);
    color: var(--theme);
    border-radius: 12px;
    padding: 12px;
    font-family: 'Roboto-Medium';
    z-index: 25 !important;
}

.page-actions .filters > div span{
    color: var(--theme);
}

.bdg{
    align-content: center;
    padding: 10px 15px;
}

.bdg .material-symbols-outlined{
    vertical-align: middle;
    margin-right: 10px;
}

.task-img{
    background-color: var(--theme-light);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.task-img img{
    width: 100%;
}


/**************************************************************/
/**********************List layout*****************************/
/**************************************************************/
.task-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--theme-background);
    border-radius: 12px;
    margin-bottom: 20px;
}

.task-card .task-title{
    text-align: left;
    width: 20%;
}

.task-card .task-description{
    width: 40%;
    text-align: left;
}

.task-card .task-actions{
    width: 20%;
    text-align: right;
}

/**************************************************************************/
/**********************************Mobile**********************************/
/**************************************************************************/

@media (max-width: 575.98px) and (orientation:portrait) {
    .page-actions{
        display: block;
    }

    .task-card{
        display: block;
    }

    .task-card .task-title, .task-card .task-description{
        width: 100%;
    }
    
    .task-card .task-description{
        margin-top: 20px;
    }
    
    .task-card .bdg{
        display: inline-block;
        margin-top: 20px;
        width: 50%;
    }

    .task-card .task-actions{
        display: inline-block;
        width: 50%;
        vertical-align: middle;
    }
}