.page{
    overflow-y: auto !important;
    padding-bottom: 400px;
}

.chat-card{
    background-color: var(--theme-background);
    border-radius: 12px;
    height: 100%; 
}

.chat-card .card-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.chat-card .card-head h2{
    color: var(--grey-scale-900);
    font-size: 24px;
    font-family: 'Roboto-Bold';
    margin: 0;
}

.chat-card .card-head span{
    color: #FFF;
    font-size: 22px;
    background-color: var(--theme);
    padding: 8px;
    border-radius: 10px;
}

.chat-card .card-tab{
    overflow-y: auto;
    height: 80%;
}

.chat-card .card-tab .tabs{
    overflow-y: auto;
    /* max-height: 60%; */
}

.chat-card .card-tab .tab-head{
    padding: 20px;
}

.chat-card .card-tab .tab-head .items{
    background-color: var(--theme-light);
    border-radius: 12px;
    padding: 5px;
}

.chat-card .card-tab .tab-head span{
    display: inline-block;
    padding: 10px;
    width: 50%;
    border-radius: 12px;
    text-align: center;
}

.chat-card .card-tab .tab-head span.active{
    background-color: var(--theme-background);
    color: var(--grey-scale-900);
    font-family: 'Roboto-Bold';
}

.chat-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.chat-head:hover{
    background-color: var(--theme-light);
}

.chat-head.active{
    background-color: var(--theme-light);
}

.chat-head img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.chat-head .highlight{
    flex-grow: 100;
    text-align: left;
    margin-left: 10px;
}

.chat-head .gnt {
    text-align: right;
}

.chat-head .gnt p:last-of-type{
    display: inline-block;
    background-color: var(--danger);
    padding: 5px 9px;
    color: #FFF;
    border-radius: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

.current-chart-card{
    background-color: var(--theme-background);
    border-radius: 12px;
    padding: 10px;
    height: 100%;
}

.current-chart-card .current-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-chart-card .current-user .user-initials img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    vertical-align: middle;
}

.current-chart-card .current-user .user-initials div{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.current-chart-card .current-user .chat-actions{
    background-color: var(--theme-light);
    border-radius: 12px;
}

.current-chart-card .current-user .chat-actions span{
    display: inline-block;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.current-chart-card .current-user .chat-actions span.active{
    color: var(--theme);
}

.current-chart-card .current-user .chat-actions span:hover{
    background-color: var(--info-light);
}

.current-chart-card .chat-messages{
    position: relative;
    height: 100%;
    background-color: var(--info-light);
    border-radius: 12px;
    margin-top: 20px;
    padding: 20px;
}

.current-chart-card .chat-messages .new-message{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--theme-background);
}

.current-chart-card .chat-messages .new-message text-input{
    flex-flow: 100;
}

.current-chart-card .chat-messages .new-message div span{
    font-size: 18px;
    padding: 12px;
}

.current-chart-card .chat-messages .new-message div span:hover{
    transform: scale(1.5, 1.5);
}
