<aside>
    <div class="logo">
        <img src="../../../assets/images/logo-bold.png" alt="logo">
    </div>
    <nav class="operator">
        <ul>
            <li class="group-heading">Menu</li>
            <li class="active" sidebarItem>
                <a routerLink="/dashboard">
                    <span class="material-symbols-outlined">apps</span>
                    Dashboard
                </a>
            </li>
            <li>
                <div dropdown>
                    <span class="material-symbols-outlined">check_box</span>
                    Projects
                    <span class="sl">
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                    </span>
                </div>
                <ul>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Tasks</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard"> Message</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Goals</a>
                    </li>
                </ul>
            </li>
            <li>
                <div dropdown>
                    <span class="material-symbols-outlined">shopping_cart</span>
                    Ecommerce
                    <span class="sl">
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                    </span>
                </div>
                <ul>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Analytics</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Orders </a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Products</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Customers</a>
                    </li>
                </ul>
            </li>
            <li>
                <div dropdown>
                    <span class="material-symbols-outlined">mail</span>
                    Mail
                    <span class="sl">
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                    </span>
                </div>
                <ul>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Inbox</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Sent Mail</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Favorites</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Drafts</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Spam</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Trash</a>
                    </li>
                </ul>
            </li>
            <li>
                <div dropdown>
                    <span class="material-symbols-outlined">work</span>
                    Work
                    <span class="sl">
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                    </span>
                </div>
                <ul>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Overview</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Job Search</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Schedule</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">History</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Events</a>
                    </li>
                    <li sidebarItem>
                        <a routerLink="/dashboard">Message</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="aside-footer">
        <div class="setting">
            <a routerLink="/dashboard">
                <span class="material-symbols-outlined">settings </span>Setting
            </a>
        </div>
        <div class="theme-mode">
            <span class="material-symbols-outlined">dark_mode</span>
            Dark Mode
            <toggle></toggle>
        </div>
    </div>
</aside>