<aside class="collapsed-nav">
    <div class="logo">
        <img src="../../../assets/images/uba-red.png" alt="logo">
    </div>
    <nav class="operator">
        <ul>
            <li class="group-heading">Menu</li>
                <li *ngFor="let item of sidebarItems">
                    <a [routerLink]="item.url" *ngIf="!item.children" sidebarItem>
                        <span class="material-symbols-outlined">{{item.iconClass}}</span>
                        <span class="txt">{{item.name}}</span>
                    </a>
                    <div *ngIf="item.children" sidebar>
                        <span class="material-symbols-outlined">{{item.iconClass}}</span>
                        <span class="txt">{{item.name}}</span>
                        <span class="sl">
                            <span class="material-symbols-outlined">arrow_drop_down</span>
                        </span>
                    </div>
                    <ul *ngIf="item.children">
                        <li *ngFor="let child of item.children">
                            <a [routerLink]="child.url" sidebarItem>{{child.name}}</a>
                        </li>
                    </ul>
                </li>
        </ul>
    </nav>
    <div class="aside-footer">
        <div class="setting">
            <a routerLink="/dashboard">
                <span class="material-symbols-outlined">settings </span>
                <span class="txt">Setting</span>
            </a>
        </div>
        <div class="theme-mode">
            <span class="material-symbols-outlined">dark_mode</span>
            <span class="txt">Dark Mode</span>
            <toggle></toggle>
        </div>
    </div>
</aside>