 <div class="right-panel">
                <section>
                    <div class="heading">
                        <h3>Your pages</h3>
                        <a href="/dashboard/account">See all</a>
                    </div>
                    <div class="section-items">
                        <div class="item">
                            <img src="../../../../../assets/icons/web.svg" alt="user">
                            <span>Website Design</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/icons/mobile.svg" alt="user">
                            <span>Mobile Design</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/icons/product.svg" alt="user">
                            <span>Product Design</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="heading">
                        <h3>Contacts</h3>
                        <a href="/dashboard/account">See all</a>
                    </div>
                    <div class="section-items">
                        <div class="item">
                            <img src="../../../../../assets/images/users/user-3.png" alt="user">
                            <span>Tavershima Ako</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/images/users/user-3.png" alt="user">
                            <span>Jennifer Kato</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/images/users/user-3.png" alt="user">
                           <span>Mimi Deborah</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/images/users/user-3.png" alt="user">
                            <span>Jennifer Kato</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/images/users/user-3.png" alt="user">
                           <span>Mimi Deborah</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="heading">
                        <h3>Groups</h3>
                        <a href="/dashboard/account">See all</a>
                    </div>
                    <div class="section-items">
                        <div class="item">
                            <div class="gr-acr">DE</div>
                            <span>Design Enthusiast</span>
                        </div>
                        <div class="item">
                            <div class="gr-acr">UO</div>
                            <span>UI Officials</span>
                        </div>
                        <div class="item">
                            <div class="gr-acr">WD</div>
                           <span>Web Designer</span>
                        </div>
                    </div>
                </section>
            </div>