.profile-flex{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
}

.profile-flex .flex-banner{
    position: relative;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-flex .flex-banner .profile-picture{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    bottom: -25px;
    left: 50px;
}

.profile-flex .flex-banner .profile-picture img{
    width: 100%;
}

.flex-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--theme-background);
}

.flex-details .profile-user{
    min-width: 25%;
}

.flex-details .profile-user h2{
    font-size: 24px;
    font-family: "Roboto-Bold";
    color: var(--grey-scale-900);
    margin-bottom: 0;
}

.flex-details .profile-user p{
    font-size: 12px;
    color: var(--grey-scale-500);
    margin: 5px 0 0 0;
}

.flex-details .class-actions{
    flex-grow: 100;
    border-radius: 12px;
    background-color: var(--grey-scale-50);
}

.flex-details .class-actions .action-info{
    display: inline-block;
    width: 25%;
    margin: 15px 0;
    text-align: center;
}

.flex-details .class-actions .action-info:not(:last-of-type){
    border-right: 1px solid var(--grey-scale-200);    
}

.flex-details .class-actions .action-info span{
    text-transform: uppercase;
    font-size: 12px;
    color: var(--grey-scale-400);
}

.flex-details .class-actions .action-info p{
    font-family: "Roboto-Medium";
    color: var(--grey-scale-900);
    font-size: 16px;
    margin: 5px 0 0 0;
}

.short-photos{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
}

.short-photos .picture{
    width: 45%;
    border-radius: 12px;
    size: contain;
    overflow: hidden;
}

.short-photos img{
    width: 100%;
    transition: transform 0.5s ease;
}

.short-photos img:hover{
    transform: scale(1.1, 1.1);
}