<div class="page pr-0 pt-0 pb-0">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-tb-12 col-sm-12 mt-20">
            <div class="profile-flex">
                <div class="flex-banner" [ngStyle]="{'background-image': backImage}">
                    <div class="profile-picture">
                        <img [src]="profilePicture" alt="user">
                    </div>
                </div>
                <div class="flex-details">
                    <div class="profile-user">
                        <h2>Tavershima Ako</h2>
                        <p>&#64;tavershima</p>
                    </div>
                    <div class="class-actions">
                        <div class="action-info">
                            <span>Post</span>
                            <p>683</p>
                        </div>
                        <div class="action-info">
                            <span>Friends</span>
                            <p>1.2k</p>
                        </div>
                        <div class="action-info">
                            <span>Photos</span>
                            <p>736</p>
                        </div>
                        <div class="action-info">
                            <span>Likes</span>
                            <p>10.5k</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-lg-3 col-md-3 col-tb-12 col-sm-12 prl-10 prm-10 prt-10">
                    <card>
                        <h3 class="mb-20 b black">Complete Your Profile</h3>
                        <progress-bar width="80%"></progress-bar>
                    </card>
                    <card class="mt-20">
                        <div class="flex-between">
                            <h3 class="m-0 bold">Intro</h3>
                            <span class="material-symbols-outlined f18"> more_horiz</span>
                        </div>
                        <p class="mt-20">I am an experienced joiner with weill developed skills</p>
                        <div class="hr mb-10 mt-10"></div>
                        <div class="item-intro">
                            <div class="set">
                                <span class="material-symbols-outlined f24 middle inline-block mr-20">location_on
                                </span>
                                <p class="inline-block medium">299 Westminister Rd</p>
                            </div>
                            <div class="set">
                                <span class="material-symbols-outlined f24 middle inline-block mr-20">business_center
                                </span>
                                <p class="inline-block medium">Tavershima Ltd</p>
                            </div>
                            <div class="set">
                                <span class="material-symbols-outlined f24 middle inline-block mr-20">calendar_month
                                </span>
                                <p class="inline-block medium">September 24 2015</p>
                            </div>
                            <div class="set">
                                <span class="material-symbols-outlined f24 middle inline-block mr-20">link </span>
                                <p class="inline-block medium">tavershima.com</p>
                            </div>
                        </div>
                    </card>

                    <card class="mt-20">
                        <div class="flex-between">
                            <h3 class="m-0 bold">Photos</h3>
                            <a routerLink="">See All</a>
                        </div>
                        <div class="short-photos">
                            <div class="picture">
                                <a routerLink="/dashboard/account"><img
                                        src="../../../../../assets/images/pictures/unsplash_Xe.png" /></a>
                            </div>
                            <div class="picture">
                                <a routerLink="/dashboard/account"><img
                                        src="../../../../../assets/images/pictures/unsplash_c1.png" /></a>
                            </div>
                            <div class="picture">
                                <a routerLink="/dashboard/account"><img
                                        src="../../../../../assets/images/pictures/unsplash_c1.png" /></a>
                            </div>
                            <div class="picture">
                                <a routerLink="/dashboard/account"><img
                                        src="../../../../../assets/images/pictures/unsplash_Xe.png" /></a>
                            </div>
                        </div>
                    </card>
                </div>
                <div class="col-lg-9 col-md-9 col-tb-12 col-sm-12 pll-10 plm-10 plt-10">
                    <card>
                        <div class="flex hr-bottom pb-20">
                            <img class="mr-20" src="../../../../../assets/images/users/user-1.png" alt="user">
                            <text-input class="background border-radius flex-grow m-0"
                                placeholder="What's on your mind?"></text-input>
                        </div>
                        <div class="media-actions">
                            <button><span class="material-symbols-outlined">smart_display</span><span
                                    class="accessi">Live Video</span></button>
                            <button><span class="material-symbols-outlined">imagesmode</span><span
                                    class="accessi">Image/Video</span></button>
                            <button><span class="material-symbols-outlined">kid_star</span><span
                                    class="accessi">Acivity</span></button>
                        </div>
                    </card>

                    <card class="mt-20">
                        <div class="media-post">
                            <div class="acl-user">
                                <img src="../../../../../assets/images/users/user-2.png" alt="user">
                                <div class="inline-block">
                                    <p>Tavershima Ako</p>
                                    <span>56 mins ago</span>
                                </div>
                            </div>
                            <p>Here are some photography works that I made on the weekend with some of my friends, happy
                                for that!</p>
                            <div class="medias">
                                <div><img src="../../../../../assets/images/pictures/241967113.jpg" alt="gallery"></div>
                                <div><img src="../../../../../assets/images/pictures/6951938_6943881292.jpg"
                                        alt="gallery"> </div>
                            </div>
                            <div class="engagements">
                                <button class="active"><span class="material-symbols-outlined">favorite</span>7.8k <span
                                        class="accessi">Likes</span></button>
                                <button><span class="material-symbols-outlined">sms</span>297 <span
                                        class="accessi">Comments</span></button>
                                <button><span class="material-symbols-outlined">share</span>40 <span
                                        class="accessi">Share</span></button>
                            </div>
                            <div>
                                <text-input class="background border-radius"
                                    placeholder="Write your message"></text-input>
                            </div>
                        </div>
                    </card>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-tb-12 col-sm-0 col-xs-0 white h-100">
            <div class="right-panel">
                <section>
                    <div class="heading">
                        <h3>Your pages</h3>
                        <a href="/dashboard/account">See all</a>
                    </div>
                    <div class="section-items">
                        <div class="item">
                            <img src="../../../../../assets/icons/web.svg" alt="user">
                            <span>Website Design</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/icons/mobile.svg" alt="user">
                            <span>Mobile Design</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/icons/product.svg" alt="user">
                            <span>Product Design</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="heading">
                        <h3>Contacts</h3>
                        <a href="/dashboard/account">See all</a>
                    </div>
                    <div class="section-items">
                        <div class="item">
                            <img src="../../../../../assets/images/users/user-3.png" alt="user">
                            <span>Tavershima Ako</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/images/users/user-3.png" alt="user">
                            <span>Jennifer Kato</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/images/users/user-3.png" alt="user">
                           <span>Mimi Deborah</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/images/users/user-3.png" alt="user">
                            <span>Jennifer Kato</span>
                        </div>
                        <div class="item">
                            <img src="../../../../../assets/images/users/user-3.png" alt="user">
                           <span>Mimi Deborah</span>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="heading">
                        <h3>Groups</h3>
                        <a href="/dashboard/account">See all</a>
                    </div>
                    <div class="section-items">
                        <div class="item">
                            <div class="gr-acr">DE</div>
                            <span>Design Enthusiast</span>
                        </div>
                        <div class="item">
                            <div class="gr-acr">UO</div>
                            <span>UI Officials</span>
                        </div>
                        <div class="item">
                            <div class="gr-acr">WD</div>
                           <span>Web Designer</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>