<div class="page">
    <div class="row flex-gap">
        <div class="col-lg-9 col-md-9 col-tb-12 col-sm-12">
            <div class="profile-flex">
                <div class="flex-banner" [ngStyle]="{'background-image': backImage}">
                    <div class="profile-picture">
                        <img [src]="profilePicture" alt="user">
                    </div>
                </div>
                <div class="flex-details">
                    <div class="profile-user">
                        <h2>Tavershima Ako</h2>
                        <p>&#64;tavershima</p>
                    </div>
                    <div class="class-actions">
                        <div class="action-info">
                            <span>Post</span>
                            <p>683</p>
                        </div>
                        <div class="action-info">
                            <span>Friends</span>
                            <p>1.2k</p>
                        </div>
                        <div class="action-info">
                            <span>Photos</span>
                            <p>736</p>
                        </div>
                        <div class="action-info">
                            <span>Likes</span>
                            <p>10.5k</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-lg-3 col-md-3 col-tb-12 col-sm-12">
                    <card>
                        <h3 class="mb-20 b black">Complete Your Profile</h3>
                        <progress-bar width="80%"></progress-bar>
                    </card>
                    <tfa>
                        <card class="mt-20">
                            <div class="flex-between">
                                <h3 class="m-0 bold">Intro</h3>
                                <span class="material-symbols-outlined f18"> more_horiz</span>
                            </div>
                            <p class="mt-20">I am an experienced joiner with weill developed skills</p>
                            <div class="hr mb-10 mt-10"></div>
                            <div class="item-intro">
                                <div class="set">
                                    <span class="material-symbols-outlined f24 middle inline-block mr-20">location_on </span>
                                    <p class="inline-block medium">299 Westminister Rd</p>
                                </div>
                                <div class="set">
                                    <span class="material-symbols-outlined f24 middle inline-block mr-20">business_center </span>
                                    <p class="inline-block medium">Tavershima Ltd</p>
                                </div>
                                <div class="set">
                                    <span class="material-symbols-outlined f24 middle inline-block mr-20">calendar_month </span>
                                    <p class="inline-block medium">September 24 2015</p>
                                </div>
                                <div class="set">
                                    <span class="material-symbols-outlined f24 middle inline-block mr-20">link </span>
                                    <p class="inline-block medium">tavershima.com</p>
                                </div>
                            </div>
                        </card>
                    </tfa>
                    
                    <card class="mt-20">
                        <div class="flex-between">
                            <h3 class="m-0 bold">Photos</h3>
                            <a routerLink="">See All</a>
                        </div>
                        <div class="short-photos">
                            <div class="picture">
                                <a routerLink="/dashboard/account"><img src="../../../../../assets/images/pictures/unsplash_Xe.png" /></a>
                            </div>
                            <div class="picture">
                                <a routerLink="/dashboard/account"><img src="../../../../../assets/images/pictures/unsplash_c1.png" /></a>
                            </div>
                            <div class="picture">
                                <a routerLink="/dashboard/account"><img src="../../../../../assets/images/pictures/unsplash_c1.png" /></a>
                            </div>
                            <div class="picture">
                                <a routerLink="/dashboard/account"><img src="../../../../../assets/images/pictures/unsplash_Xe.png" /></a>
                            </div>
                            
                        </div>
                    </card>
                    
                </div>
                <div class="col-lg-9 col-md-9 col-tb-12 col-sm-12">

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-tb-12 col-sm-0 col-xs-0">

        </div>
    </div>
</div>
