.profile-flex{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
}

.profile-flex .flex-banner{
    position: relative;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile-flex .flex-banner .profile-picture{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    bottom: -25px;
    left: 50px;
}

.profile-flex .flex-banner .profile-picture img{
    width: 100%;
}

.profile-flex .flex-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--theme-background);
}

.profile-flex .flex-details .profile-user{
    min-width: 25%;
    margin-right: 20px;
}

.profile-flex .flex-details .profile-user h2{
    font-size: 24px;
    font-family: "Roboto-Bold";
    color: var(--grey-scale-900);
    margin-bottom: 0;
}

.profile-flex .flex-details .profile-user p{
    font-size: 12px;
    color: var(--grey-scale-500);
    margin: 5px 0 0 0;
}

.profile-flex .flex-details .class-actions{
    flex-grow: 100;
    border-radius: 12px;
    background-color: var(--grey-scale-50);
}

.profile-flex .flex-details .class-actions .action-info{
    display: inline-block;
    width: 25%;
    margin: 15px 0;
    text-align: center;
}

.profile-flex .flex-details .class-actions .action-info:not(:last-of-type){
    border-right: 1px solid var(--grey-scale-200);    
}

.profile-flex .flex-details .class-actions .action-info span{
    text-transform: uppercase;
    font-size: 12px;
    color: var(--grey-scale-400);
}

.profile-flex .flex-details .class-actions .action-info p{
    font-family: "Roboto-Medium";
    color: var(--grey-scale-900);
    font-size: 16px;
    margin: 5px 0 0 0;
}

.short-photos{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
}

.short-photos .picture{
    width: 45%;
    border-radius: 12px;
    size: contain;
    overflow: hidden;
}

.short-photos img{
    width: 100%;
    transition: transform 0.5s ease;
}

.short-photos img:hover{
    transform: scale(1.1, 1.1);
}

.flex.hr-bottom.pb-20 img{
    width: 50px;
}

.media-actions, .media-post .engagements{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.media-actions button, .media-post .engagements button{
    outline: none;
    border: none;
    background-color: transparent;
    width: 30%;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
}

.media-actions button:hover, .media-post .engagements button:hover{
    background-color: var(--grey-scale-50);
}

.media-actions button .material-symbols-outlined, 
.media-post .engagements button .material-symbols-outlined{
    font-size: 24px;
    margin-right: 15px;
    vertical-align: middle;
}

.media-post .acl-user img{
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.media-post .acl-user div {
    vertical-align: middle;
}

.media-post .acl-user div p{
    font-family: "Roboto-Medium";
    color: var(--grey-scale-900);
    margin: 0 0 5px 0;
}

.media-post .acl-user div span{
    color: var(--grey-scale-400);
}

.media-post .medias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}

.media-post .medias div{
    width: 48%;
    max-height: 200px;
    border-radius: 12px;
    overflow: hidden;
}

.media-post .medias div img{
    width: 100%;
}

.media-post .engagements button.active{
    color: var(--theme);
}

.media-post .engagements button.active span{
    color: var(--theme);
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    fill: var(--theme);
}


.white{
    background-color: #FFF;
}
/**************************************************************************/
/**********************************Mobile**********************************/
/**************************************************************************/
@media (max-width: 575.98px) and (orientation:portrait) {
 
    .profile-flex .flex-details{
        display: block;
    }

    .profile-flex .flex-details .class-actions{
        margin-top: 20px;
    }

    .media-actions button span:not(.material-symbols-outlined), 
    .media-post .engagements button span:not(.material-symbols-outlined){
        display: none;
    }
}

/**************************************************************************/
/**********************************Tablets*********************************/
/**************************************************************************/
@media (min-width: 576px) and (max-width: 992px) and (orientation:portrait) {
   
}