
/*
* Icon font class: google material symbols
* https://fonts.google.com/icons?icon.size=24&icon.color=%231f1f1f
*/
@font-face{
    src: url('/assets/fonts/MaterialSymbolsOutlined-Regular.ttf');
    font-family: "MaterialSymbols";
}
@font-face{
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-family: "Roboto-Regular";
}

@font-face{
    src: url('./assets/fonts/Roboto-Light.ttf');
    font-family: "Roboto-Light";
}

@font-face{
    src: url('./assets/fonts/Roboto-Medium.ttf');
    font-family: "Roboto-Medium";
}

@font-face{
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-family: "Roboto-Bold";
}

@font-face{
    src: url('./assets/fonts/Roboto-Thin.ttf');
    font-family: "Roboto-Thin";
}

:root{
    --uba: #CB2F23;
    --theme: #2563EB;
    --theme-background: #FFF;
    --grey-scale-50: #F8FAFC;
    --grey-scale-200: #E2E8F0;
    --grey-scale-300: #CBD5E1;
    --grey-scale-400: #94A3B8;
    --grey-scale-500: #64748B;
    --grey-scale-900: #0F172A;
    --border-color: #F1F5F9;
    --text-color: #64748B;
    --danger: #ED4F9D;
    --danger-light: #FDF2F8;
    --warning: #F6A723;
    --warning-light: #FFFBEB;
    --info: #38BDF8;
    --info-light: #EFF6FF;
    --success: #24D164;
    --success-light: #F0FDF4;
    --default: #F8FAFC;
}

.theme{
    color: var(--theme) !important;
}

.theme-bg{
    background-color: var(--theme) !important;
}

.theme-light{
    color: var(--grey-scale-50) !important;
}

.theme-light-bg{
    background-color: var(--grey-scale-50) !important;
}

.danger{
    color: var(--danger) !important;
}

.danger-bg{
    background-color: var(--danger) !important;
}

.danger-light-bg{
    background-color: var(--danger-light) !important;
}

.warning{
    color: var(--warning) !important;
}

.warning-bg{
    background-color: var(--warning) !important;
}

.warning-light-bg{
    background-color: var(--warning-light) !important;
}

.info{
    color: var(--info) !important;
}

.info-bg{
    background-color: var(--info) !important;
}

.info-light-bg{
    background-color: var(--info-light) !important;
}

.success{
    color: var(--success) !important;
}

.success-bg{
    background-color: var(--success) !important;
}

.success-light-bg{
    background-color: var(--success-light) !important;
}

.default{
    color: var(--default) !important;
}

.default-bg{
    background-color: var(--default) !important;
}

/*********************************************************************/
/******************************Borders********************************/
/*********************************************************************/
.border-success{
    border: 1px solid var(--success) !important;
}

.border-theme{
    border: 1px solid var(--theme) !important;
}

.border-danger{
    border: 1px solid var(--danger) !important;
}

.border-warning{
    border: 1px solid var(--warning) !important;
}

.border-info{
    border: 1px solid var(--info) !important;
}

*{
    box-sizing: border-box;
    font-family: "Roboto-Regular";
    font-weight: 200;
    font-size: 14px;
    scrollbar-width: thin;
    color: var(--text-color);
}


/*********************************************************************/
/******************************Tag stles******************************/
/*********************************************************************/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

text-group .material-symbols-outlined{
    padding:  12.5px 0 12.5px 10px;
    font-size: 22px;
    color: var(--grey-scale-500);
    font-family: "MaterialSymbols";
    vertical-align: middle;
}

select-input{
    border-radius: 12px;
}

a{
    text-decoration: none;
    color: var(--theme);
}

a:hover{
    text-decoration: underline;
}

.btn{
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 17px 25px;
    font-size: 16px;
    color: #FFF;
    margin: 10px 0;
    cursor: pointer;
}

.btn.btn-md{
    font-size: 14px;
    padding: 12px 25px;
}

.btn.btn-primary{
    background-color: var(--theme);
}

.btn.btn-info{
    background-color: var(--info);
}

.btn.btn-info *, .btn.btn-primary *{
    color: #FFF;
}

.btn.btn-primary:focus{
    border: 1px dashed var(--border-color);
}

.btn.btn-outline{
    color: var(--text-color);
    background-color: var(--theme-background);
    border: 1px solid var(--border-color);
}

.btn:focus, .btn.btn-outline:focus{
    border: 1px solid var(--theme);
}

.dropdown-menu{
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    top: 100%;
    right: 0;
    outline: none;
    background-color: var(--theme-background);
    border-radius: 12px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 10;
    width: max-content;
}

.dropdown-menu > div{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    border-radius: 12px;
}

.dropdown-menu > div a{
    color: var(--text-color);
    text-decoration: none;
}

.dropdown-menu > div:hover{
    background-color: var(--grey-scale-50);
    cursor: pointer;
}

/*********************************************************************/
/********************************Forms********************************/
/*********************************************************************/
form label{
    display: block;
    font-family: 'Roboto-Medium';
    color: var(--grey-scale-900);
}

form span{
    font-size: 12px;
}

textarea{
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 12px;
    margin-bottom: 20px;
}

textarea:focus {
    border-color: var(--theme);
}

/*********************************************************************/
/**********************************Tables*****************************/
/*********************************************************************/

table{
    table-layout: auto;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

table thead tr th:first-of-type{
    border-radius: 12px 0 0 12px;
}

table thead tr th:last-of-type{
    border-radius: 0 12px 12px 0;
}

table thead tr th{
    color: var(--grey-scale-400);
    font-family: "Roboto-Medium";
    background-color: var(--grey-scale-50);
    padding: 15px;
    text-align: left;
}

table tbody tr{
    border-bottom: 1px solid var(--border-color);
}

table tbody tr td{
    color: var(--grey-scale-900);
    font-family: "Roboto-Medium";
    padding: 15px;
}

div.pagination ul{
    padding-left: 0;
    list-style: none;
}

div.pagination ul li{
    display: inline-block;
    margin-right: 10px;
    color: var(--grey-scale-400);
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

div.pagination ul li a{
    display: inline-block;
    width: 40px;
    aspect-ratio: 1/1;
    padding: 10px;
    text-decoration: none;
    font-family: "Roboto-Medium";
    color: var(--grey-scale-400);
}

div.pagination ul li span{
    display: inline;
    vertical-align: middle;
    font-size: 18px;
}

/*********************************************************************/
/*****************************Utilities*******************************/
/*********************************************************************/

input[type='date']{
    outline: none;
    padding: 14px 10px 14px 10px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.material-symbols-outlined{
    font-family: "MaterialSymbols";
}

.float-right{
    float: right;
}

.black{
    color: var(--grey-scale-900) !important;
}

.medium{
    font-family: "Roboto-Medium";
    color: var(--grey-scale-900) !important;
}

.bold{
    font-family: "Roboto-Bold";
    color: var(--grey-scale-900) !important;
}

.b{
    font-family: "Roboto-Bold";
}

.text-center{
    text-align: center !important;
}

.hr-top{
    border-top: 1px solid var(--border-color);
}

.hr{
    height: 1px;
    border-top: 1px solid var(--border-color);
}

.w-10x{
    width: 300px;
}

.circle{
    border-radius: 100%;
}

.middle{
    vertical-align: middle;
}

.pointer{
    cursor: pointer;
}

.relative{
    position: relative;
}

.inline-block{
    display: inline-block;
}

.hide{
    display: none;
}

.flex{
    display: flex;
}

.flex-gap{
    column-gap: 20px;
    row-gap: 20px;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-center{
    align-items: center;
}

.row{
    display: flex;
    /* column-gap: 20px; */
    width: 100%;
    flex-wrap: wrap;
}

.r-gap10{
    row-gap: 10px;
}

.r-gap20{
    row-gap: 20px;
}

.c-gap10{
    column-gap: 10px;
}

.c-gap20{
    column-gap: 20px;
}

.text-center{
    text-align: center;
}

.w-100{
    display: inline-block;
    width: 100%;
}

.h-100{
    height: 100%;
}

.f16{
    font-size: 16px;
}

.f18{
    font-size: 18px;
}

.f22{
    font-size: 22px;
}

.f24{
    font-size: 24px;
}

.f32{
    font-size: 32px;
}

.m-0{
    margin: 0 !important;
}

.ml-0{
    margin-left: 0 !important;
}

.ml-10{
    margin-left: 10px !important;
}

.ml-20{
    margin-left: 20px !important;
}

.mr-0{
    margin-right: 0 !important;
}

.mr-5{
    margin-right: 5px !important;
}

.mr-10{
    margin-right: 10px !important;
}

.mr-20{
    margin-right: 20px !important;
}

.mt-0{
    margin-top: 0 !important;
}

.mt-5{
    margin-top: 5px !important;
}

.mt-10{
    margin-top: 10px !important;
}

.mt-20{
    margin-top: 20px !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.mb-10{
    margin-bottom: 10px !important;
}

.mb-20{
    margin-bottom: 20px !important;
}

.mb-100{
    margin-bottom: 100px !important;
}

.p-10{
    padding: 10px !important;
}

.p-20{
    padding: 20px !important;
}

.pt-10{
    padding-top: 10px !important;
}

.pb-10{
    padding-bottom: 10px !important;
}

.pl-5{
    padding-left: 5px !important;
}

.pl-10{
    padding-left: 10px !important;
}

.pr-5{
    padding-right: 5px !important;
}

.pr-10{
    padding-right: 10px !important;
}

.page{
    padding: 30px;
    height: 100%;
    overflow-y: auto;
}

/**************************************************************************/
/**********************************Mobile**********************************/
/**************************************************************************/
@media (max-width: 575.98px) and (orientation:portrait) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
      float: left;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666667%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-2 {
      width: 16.66666667%;
    }
    .col-sm-1 {
      width: 8.33333333%;
    }
    .col-sm-0 {
        display: none;
    }
    .col-sm-pull-12 {
      right: 100%;
    }
    .col-sm-pull-11 {
      right: 91.66666667%;
    }
    .col-sm-pull-10 {
      right: 83.33333333%;
    }
    .col-sm-pull-9 {
      right: 75%;
    }
    .col-sm-pull-8 {
      right: 66.66666667%;
    }
    .col-sm-pull-7 {
      right: 58.33333333%;
    }
    .col-sm-pull-6 {
      right: 50%;
    }
    .col-sm-pull-5 {
      right: 41.66666667%;
    }
    .col-sm-pull-4 {
      right: 33.33333333%;
    }
    .col-sm-pull-3 {
      right: 25%;
    }
    .col-sm-pull-2 {
      right: 16.66666667%;
    }
    .col-sm-pull-1 {
      right: 8.33333333%;
    }
    .col-sm-pull-0 {
      right: auto;
    }
    .col-sm-push-12 {
      left: 100%;
    }
    .col-sm-push-11 {
      left: 91.66666667%;
    }
    .col-sm-push-10 {
      left: 83.33333333%;
    }
    .col-sm-push-9 {
      left: 75%;
    }
    .col-sm-push-8 {
      left: 66.66666667%;
    }
    .col-sm-push-7 {
      left: 58.33333333%;
    }
    .col-sm-push-6 {
      left: 50%;
    }
    .col-sm-push-5 {
      left: 41.66666667%;
    }
    .col-sm-push-4 {
      left: 33.33333333%;
    }
    .col-sm-push-3 {
      left: 25%;
    }
    .col-sm-push-2 {
      left: 16.66666667%;
    }
    .col-sm-push-1 {
      left: 8.33333333%;
    }
    .col-sm-push-0 {
      left: auto;
    }
    .col-sm-offset-12 {
      margin-left: 100%;
    }
    .col-sm-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
      margin-left: 75%;
    }
    .col-sm-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
      margin-left: 50%;
    }
    .col-sm-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
      margin-left: 25%;
    }
    .col-sm-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
      margin-left: 0%;
    }

    .hide-mb{
        display: none !important;
    }

    .show-mb{
        display: block !important;
    }
    
    .page{
        padding: 20px;
    }

    .pls-5{
        padding-left: 5px !important;
    }
    
    .pls-10{
        padding-left: 10px !important;
    }
    
    .prs-5{
        padding-right: 5px !important;
    }
    
    .prs-10{
        padding-right: 10px !important;
    }
}

/**************************************************************************/
/*****************************Wider Mobile*********************************/
/**************************************************************************/
@media (max-width: 768px) and (orientation:portrait){
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
      float: left;
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-11 {
      width: 91.66666667%;
    }
    .col-sm-10 {
      width: 83.33333333%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-8 {
      width: 66.66666667%;
    }
    .col-sm-7 {
      width: 58.33333333%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-5 {
      width: 41.66666667%;
    }
    .col-sm-4 {
      width: 33.33333333%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-2 {
      width: 16.66666667%;
    }
    .col-sm-1 {
      width: 8.33333333%;
    }
    .col-sm-0 {
        display: none;
    }
    .col-sm-pull-12 {
      right: 100%;
    }
    .col-sm-pull-11 {
      right: 91.66666667%;
    }
    .col-sm-pull-10 {
      right: 83.33333333%;
    }
    .col-sm-pull-9 {
      right: 75%;
    }
    .col-sm-pull-8 {
      right: 66.66666667%;
    }
    .col-sm-pull-7 {
      right: 58.33333333%;
    }
    .col-sm-pull-6 {
      right: 50%;
    }
    .col-sm-pull-5 {
      right: 41.66666667%;
    }
    .col-sm-pull-4 {
      right: 33.33333333%;
    }
    .col-sm-pull-3 {
      right: 25%;
    }
    .col-sm-pull-2 {
      right: 16.66666667%;
    }
    .col-sm-pull-1 {
      right: 8.33333333%;
    }
    .col-sm-pull-0 {
      right: auto;
    }
    .col-sm-push-12 {
      left: 100%;
    }
    .col-sm-push-11 {
      left: 91.66666667%;
    }
    .col-sm-push-10 {
      left: 83.33333333%;
    }
    .col-sm-push-9 {
      left: 75%;
    }
    .col-sm-push-8 {
      left: 66.66666667%;
    }
    .col-sm-push-7 {
      left: 58.33333333%;
    }
    .col-sm-push-6 {
      left: 50%;
    }
    .col-sm-push-5 {
      left: 41.66666667%;
    }
    .col-sm-push-4 {
      left: 33.33333333%;
    }
    .col-sm-push-3 {
      left: 25%;
    }
    .col-sm-push-2 {
      left: 16.66666667%;
    }
    .col-sm-push-1 {
      left: 8.33333333%;
    }
    .col-sm-push-0 {
      left: auto;
    }
    .col-sm-offset-12 {
      margin-left: 100%;
    }
    .col-sm-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
      margin-left: 75%;
    }
    .col-sm-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
      margin-left: 50%;
    }
    .col-sm-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
      margin-left: 25%;
    }
    .col-sm-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
      margin-left: 0%;
    }

    .hide-mb{
        display: none !important;
    }

    .show-mb{
        display: block !important;
    }
    
    .page{
        padding: 20px;
    }

    .pls-5{
        padding-left: 5px !important;
    }
    
    .pls-10{
        padding-left: 10px !important;
    }
    
    .prs-5{
        padding-right: 5px !important;
    }
    
    .prs-10{
        padding-right: 10px !important;
    }
}

/**************************************************************************/
/**********************************Tablets*********************************/
/**************************************************************************/
@media (min-width: 576px) and (max-width: 992px) and (orientation:portrait) {
    .col-tb-1,
    .col-tb-2,
    .col-tb-3,
    .col-tb-4,
    .col-tb-5,
    .col-tb-6,
    .col-tb-7,
    .col-tb-8,
    .col-tb-9,
    .col-tb-10,
    .col-tb-11,
    .col-tb-12 {
        float: left;
    }
    .col-tb-12 {
        width: 100%;
    }
    .col-tb-11 {
        width: 91.66666667%;
    }
    .col-tb-10 {
        width: 83.33333333%;
    }
    .col-tb-9 {
        width: 75%;
    }
    .col-tb-8 {
        width: 66.66666667%;
    }
    .col-tb-7 {
        width: 58.33333333%;
    }
    .col-tb-6 {
        width: 50%;
    }
    .col-tb-5 {
        width: 41.66666667%;
    }
    .col-tb-4 {
        width: 33.33333333%;
    }
    .col-tb-3 {
        width: 25%;
    }
    .col-tb-2 {
        width: 16.66666667%;
    }
    .col-tb-1 {
        width: 8.33333333%;
    }
    .col-tb-0 {
        display: none;
    }
    .col-tb-pull-12 {
        right: 100%;
    }
    .col-tb-pull-11 {
        right: 91.66666667%;
    }
    .col-tb-pull-10 {
        right: 83.33333333%;
    }
    .col-tb-pull-9 {
        right: 75%;
    }
    .col-tb-pull-8 {
        right: 66.66666667%;
    }
    .col-tb-pull-7 {
        right: 58.33333333%;
    }
    .col-tb-pull-6 {
        right: 50%;
    }
    .col-tb-pull-5 {
        right: 41.66666667%;
    }
    .col-tb-pull-4 {
        right: 33.33333333%;
    }
    .col-tb-pull-3 {
        right: 25%;
    }
    .col-tb-pull-2 {
        right: 16.66666667%;
    }
    .col-tb-pull-1 {
        right: 8.33333333%;
    }
    .col-tb-pull-0 {
        right: auto;
    }
    .col-tb-push-12 {
        left: 100%;
    }
    .col-tb-push-11 {
        left: 91.66666667%;
    }
    .col-tb-push-10 {
        left: 83.33333333%;
    }
    .col-tb-push-9 {
        left: 75%;
    }
    .col-tb-push-8 {
        left: 66.66666667%;
    }
    .col-tb-push-7 {
        left: 58.33333333%;
    }
    .col-tb-push-6 {
        left: 50%;
    }
    .col-tb-push-5 {
        left: 41.66666667%;
    }
    .col-tb-push-4 {
        left: 33.33333333%;
    }
    .col-tb-push-3 {
        left: 25%;
    }
    .col-tb-push-2 {
        left: 16.66666667%;
    }
    .col-tb-push-1 {
        left: 8.33333333%;
    }
    .col-tb-push-0 {
        left: auto;
    }
    .col-tb-offset-12 {
        margin-left: 100%;
    }
    .col-tb-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-tb-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-tb-offset-9 {
        margin-left: 75%;
    }
    .col-tb-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-tb-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-tb-offset-6 {
        margin-left: 50%;
    }
    .col-tb-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-tb-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-tb-offset-3 {
        margin-left: 25%;
    }
    .col-tb-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-tb-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-tb-offset-0 {
        margin-left: 0%;
    }

    .plt-5{
        padding-left: 5px !important;
    }
    
    .plt-10{
        padding-left: 10px !important;
    }
    
    .prt-5{
        padding-right: 5px !important;
    }
    
    .prt-10{
        padding-right: 10px !important;
    }
}

/**************************************************************************/
/*****************************iPad Pro 12"*********************************/
/**************************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-0 {
        display: none;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }

    .plm-5{
        padding-left: 5px !important;
    }
    
    .plm-10{
        padding-left: 10px !important;
    }
    
    .prm-5{
        padding-right: 5px !important;
    }
    
    .prm-10{
        padding-right: 10px !important;
    }
}

/**************************************************************************/
/******************************Medium screens******************************/
/**************************************************************************/
@media only screen and (min-width: 992px) and (max-width: 1200px) and (orientation:portrait) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-0 {
        display: none;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }

    .plm-5{
        padding-left: 5px !important;
    }
    
    .plm-10{
        padding-left: 10px !important;
    }
    
    .prm-5{
        padding-right: 5px !important;
    }
    
    .prm-10{
        padding-right: 10px !important;
    }
}

/**************************************************************************/
/*****************************large HD screens*****************************/
/**************************************************************************/
@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-0 {
        display: none;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0%;
    }

    .pll-5{
        padding-left: 5px !important;
    }
    
    .pll-10{
        padding-left: 10px !important;
    }
    
    .prl-5{
        padding-right: 5px !important;
    }
    
    .prl-10{
        padding-right: 10px !important;
    }
} 

/**************************************************************************/
/**********************Extra large screens/smart TVs***********************/
/**************************************************************************/
@media (min-width: 1400px){
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12 {
      float: left;
    }
    .col-xl-12 {
      width: 100%;
    }
    .col-xl-11 {
      width: 91.66666667%;
    }
    .col-xl-10 {
      width: 83.33333333%;
    }
    .col-xl-9 {
      width: 75%;
    }
    .col-xl-8 {
      width: 66.66666667%;
    }
    .col-xl-7 {
      width: 58.33333333%;
    }
    .col-xl-6 {
      width: 50%;
    }
    .col-xl-5 {
      width: 41.66666667%;
    }
    .col-xl-4 {
      width: 33.33333333%;
    }
    .col-xl-3 {
      width: 25%;
    }
    .col-xl-2 {
      width: 16.66666667%;
    }
    .col-xl-1 {
      width: 8.33333333%;
    }
    .col-xl-0 {
        display: none;
    }
    .col-xl-pull-12 {
      right: 100%;
    }
    .col-xl-pull-11 {
      right: 91.66666667%;
    }
    .col-xl-pull-10 {
      right: 83.33333333%;
    }
    .col-xl-pull-9 {
      right: 75%;
    }
    .col-xl-pull-8 {
      right: 66.66666667%;
    }
    .col-xl-pull-7 {
      right: 58.33333333%;
    }
    .col-xl-pull-6 {
      right: 50%;
    }
    .col-xl-pull-5 {
      right: 41.66666667%;
    }
    .col-xl-pull-4 {
      right: 33.33333333%;
    }
    .col-xl-pull-3 {
      right: 25%;
    }
    .col-xl-pull-2 {
      right: 16.66666667%;
    }
    .col-xl-pull-1 {
      right: 8.33333333%;
    }
    .col-xl-pull-0 {
      right: auto;
    }
    .col-xl-push-12 {
      left: 100%;
    }
    .col-xl-push-11 {
      left: 91.66666667%;
    }
    .col-xl-push-10 {
      left: 83.33333333%;
    }
    .col-xl-push-9 {
      left: 75%;
    }
    .col-xl-push-8 {
      left: 66.66666667%;
    }
    .col-xl-push-7 {
      left: 58.33333333%;
    }
    .col-xl-push-6 {
      left: 50%;
    }
    .col-xl-push-5 {
      left: 41.66666667%;
    }
    .col-xl-push-4 {
      left: 33.33333333%;
    }
    .col-xl-push-3 {
      left: 25%;
    }
    .col-xl-push-2 {
      left: 16.66666667%;
    }
    .col-xl-push-1 {
      left: 8.33333333%;
    }
    .col-xl-push-0 {
      left: auto;
    }
    .col-xl-offset-12 {
      margin-left: 100%;
    }
    .col-xl-offset-11 {
      margin-left: 91.66666667%;
    }
    .col-xl-offset-10 {
      margin-left: 83.33333333%;
    }
    .col-xl-offset-9 {
      margin-left: 75%;
    }
    .col-xl-offset-8 {
      margin-left: 66.66666667%;
    }
    .col-xl-offset-7 {
      margin-left: 58.33333333%;
    }
    .col-xl-offset-6 {
      margin-left: 50%;
    }
    .col-xl-offset-5 {
      margin-left: 41.66666667%;
    }
    .col-xl-offset-4 {
      margin-left: 33.33333333%;
    }
    .col-xl-offset-3 {
      margin-left: 25%;
    }
    .col-xl-offset-2 {
      margin-left: 16.66666667%;
    }
    .col-xl-offset-1 {
      margin-left: 8.33333333%;
    }
    .col-xl-offset-0 {
      margin-left: 0%;
    }

    .plx-5{
        padding-left: 5px !important;
    }

    .plx-10{
        padding-left: 10px !important;
    }

    .prx-5{
        padding-right: 5px !important;
    }

    .prx-10{
        padding-right: 10px !important;
    }
}